body {
    background-color: black;
}

#wordSubmit {
    margin-top: 10vh;
    height: 80vh; 
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;;
    color: white;
    text-align: center;
}

#wordSubmit textarea {
    height: 10vh;
    width: 40vw;
}

#wordSubmit input {
    height: 7vh;
    width: 20vw;
}